.item.details {
    height: 150px;
    padding: 0;
    margin-top: 2px;
    border-top: 0;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
    display:none
}

.item.activated{
    background-color: skyblue;
}

.graph-title {
    text-align: center;
}

.item.details .graph {
    width: 0;
}

.graph {
    width: 95%;
    height: 130px;
    min-height: 5px;
    float: right;
}

label.estimate {
    width: 46%;
    display: inline-block;
}

.list.head {
    margin-bottom: 5px;
}

.list.head .item.rounded.open {
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.list.head .item.rounded.closed {
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
}

.estimate-entry {
    margin-bottom: 25px;
    height: 52px;
}

.space {
    height: 20px;
}

#home-page {
    text-align: center;
}

div.rounded {
    border-radius: 25px !important;
}

.toggle-btn {
    padding-bottom: 3px;
    padding-top: 10px;
    background-color: skyblue;
}

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.tar{
    text-align: right;
}

.underline {
    text-decoration: underline;
}

.estimate-only-tab {
    margin-top: 3em;
}

.normal {
    white-space: normal !important;
}

h2.value {
    float: right;
    display: inline-block;
    font-weight: bold;
}

.dib {
    display: inline-block;
}

.fr {
    float: right;
}

.portfolio-item {
    background-color: skyblue;
}

button.submitEstimate {
    display: block;
    margin: auto;
}

.dn {
    display: none;
}