<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="{{header.title}}">
    <ion-content padding="true">
        <div ng-controller="RevenueCtrl">
            <div class="list head">
                <div class="item rounded toggle-btn" ng-class="{'open' : model.isOpenComplete, 'closed' : !model.isOpenComplete}" ng-click="details.visible = !details.visible">
                    <h2 class="dib">Q2 Revenue</h2>
                    <span class="fr" ng-show="!details.visible">&nbsp;&#9660;</span>
                    <span class="fr" ng-show="details.visible">&nbsp;&#9650;</span>

                    <h2 class="value">$5,468 M</h2>
                </div>

                <div class="item details" slide="details.visible" open="details.completelyOpen" onopen="details.onopen" onclose="details.onclose">
                    <ion-slide-box show-pager="false" delegate-handle="revenueScroller">
                        <ion-slide>
                            <div class="graph-title">
                                <span>Revenue per Quarter</span>
                                <div graph="graphs.revQuarterlyOpts" model="graphs.revQuarterly" regraph="graphs.regraph"></div>
                            </div>
                        </ion-slide>
                        <ion-slide ng-class="{'estimate-only-tab' : !gaveEstimate()}">
                            <div ng-show="gaveEstimate()">
                                <h2 class="tac underline">Estimates</h2>
                                <div class="row" style="padding-top: 0;">
                                    <div class="col tal" style="padding-top: 0;">
                                        <h2>You:</h2>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 0;">
                                    <div class="col tar" style="padding-top: 0;">
                                        <h1 style="font-size: 30px;">
                                            ${{data.userEstimate | number}} M
                                        </h1>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 0;">
                                    <div class="col tal" style="padding-top: 0;">
                                        <h2>Community:</h2>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 0;">
                                    <div class="col tar" style="padding-top: 0;">
                                        <h1 style="font-size: 30px;">
                                            $6,391 M
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="!gaveEstimate()">
                                <h2 class="normal tac">Please give your estimate to view what the community says!</h2>
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>
            </div>
            <div estimate-btn onsub="onsub" txt="Give Estimate (Next Quarter)"></div>
        </div>

        <div ng-controller="DummyCtrl">
            <div class="list head">
                <div class="item rounded toggle-btn" ng-class="{'open' : model.isOpenComplete, 'closed' : !model.isOpenComplete}">
                    <h2 class="dib">EPS</h2>
                    <span ng-click="toggleVisibility()" class="fr" ng-show="!model.visibility">&nbsp;&#9660;</span>
                    <span ng-click="toggleVisibility()" class="fr" ng-show="model.visibility">&nbsp;&#9650;</span>

                    <h2 class="value">$7.15</h2>
                </div>
            </div>
            <div estimate-btn onsub="onsub" txt="Give Estimate (Next Quarter)"></div>
        </div>

        <div ng-controller="PECtrl">
            <div class="list head">
                <div class="item rounded toggle-btn" ng-class="{'open' : details.completelyOpen, 'closed' : !details.completelyOpen}" ng-click="details.visible = !details.visible">
                    <h2 class="dib">P/E Ratio</h2>
                    <span class="fr" ng-show="!details.visible">&nbsp;&#9660;</span>
                    <span class="fr" ng-show="details.visible">&nbsp;&#9650;</span>

                    <h2 class="value">{{data.actual}}</h2>
                </div>

                <div class="item details" slide="details.visible" open="details.completelyOpen" onopen="details.onopen" onclose="details.onclose">
                    <ion-slide-box show-pager="false" delegate-handle="peScroller">
                        <ion-slide>
                            <div class="graph-title">
                                <span>P/E History</span>
                                <div graph="graphs.PEvsDateOpts" model="graphs.PEvsDate" regraph="graphs.regraph"></div>
                            </div>
                        </ion-slide>
                        <ion-slide ng-class="{'estimate-only-tab' : !gaveEstimate()}">
                            <div ng-show="gaveEstimate()">
                                <div class="graph-title">
                                    <span>Realtime Community P/E</span>
                                    <input type="button" value="d" ng-click="demo()" />
                                    <div graph="graphs.crowdsourcedOpts" model="graphs.crowdsourced" regraph="graphs.regraph"></div>
                                </div>
                            </div>
                            <div ng-show="!gaveEstimate()">
                                <h2 class="normal tac">Please give your estimate to view what the community says!</h2>
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>
            </div>
            <div estimate-btn onsub="onsub" txt="Give Estimate (Now)"></div>
        </div>

        <div ng-controller="DummyCtrl">
            <div class="list head">
                <div class="item rounded toggle-btn" ng-class="{'open' : model.isOpenComplete, 'closed' : !model.isOpenComplete}">
                    <h2 class="dib">Stock Price</h2>
                    <span ng-click="toggleVisibility()" class="fr" ng-show="!model.visibility">&nbsp;&#9660;</span>
                    <span ng-click="toggleVisibility()" class="fr" ng-show="model.visibility">&nbsp;&#9650;</span>

                    <h2 class="value">$82.29</h2>
                </div>
            </div>
            <div estimate-btn onsub="onsub" txt="Give Estimate (Now)"></div>
        </div>
    </ion-content>
</ion-view>

