<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="{{header.title}}">
    <ion-content padding="true">
        <div ng-controller="RevenueCtrl">
            <div class="list head">
                <div class="item rounded toggle-btn" ng-class="{'open' : model.isOpenComplete, 'closed' : !model.isOpenComplete}">
                    <h2 style="display: inline-block;">Q2 Revenue</h2>
                    <span ng-click="toggleVisibility()" style="float:right;" ng-show="!model.visibility">&nbsp;&#9660;</span>
                    <span ng-click="toggleVisibility()" style="float:right;" ng-show="model.visibility">&nbsp;&#9650;</span>

                    <h2 class="value">$5,468 M</h2>
                </div>

                <div class="item details" slide="model.visibility" open="isOpenComplete">
                    <ion-slide-box show-pager="false" delegate-handle="revenueScroller">
                        <ion-slide>
                            <div class="graph-title">
                                <span>Revenue per Quarter</span>
                                <div graph="revQuarterlyOpts" model="model.data.revQuarterly"></div>
                            </div>
                        </ion-slide>
                        <ion-slide ng-class="{'estimate-only-tab' : !model.gaveEstimate}">
                            <div ng-show="model.gaveEstimate">
                                <h2 class="tac underline">Estimates</h2>
                                <div class="row" style="padding-top: 0;">
                                    <div class="col tal" style="padding-top: 0;">
                                        <h2>You:</h2>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 0;">
                                    <div class="col tar" style="padding-top: 0;">
                                        <h1 style="font-size: 30px;">
                                            ${{model.estimate | number}} M
                                        </h1>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 0;">
                                    <div class="col tal" style="padding-top: 0;">
                                        <h2>Community:</h2>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 0;">
                                    <div class="col tar" style="padding-top: 0;">
                                        <h1 style="font-size: 30px;">
                                            $6,391 M
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="!model.gaveEstimate">
                                <h2 class="normal tac">Please give your estimate to view what the community says!</h2>
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>
            </div>
            <div estimate-btn onsub="onsub" txt="Give Estimate (Next Quarter)"></div>
        </div>

        <div ng-controller="DummyCtrl">
            <div class="list head">
                <div class="item rounded toggle-btn" ng-class="{'open' : model.isOpenComplete, 'closed' : !model.isOpenComplete}">
                    <h2 style="display: inline-block;">EPS</h2>
                    <span ng-click="toggleVisibility()" style="float:right;" ng-show="!model.visibility">&nbsp;&#9660;</span>
                    <span ng-click="toggleVisibility()" style="float:right;" ng-show="model.visibility">&nbsp;&#9650;</span>

                    <h2 class="value">$7.15</h2>
                </div>
            </div>
            <div estimate-btn onsub="onsub" txt="Give Estimate (Next Quarter)"></div>
        </div>

        <div ng-controller="PECtrl">
            <div class="list head">
                <div class="item rounded toggle-btn" ng-class="{'open' : model.isOpenComplete, 'closed' : !model.isOpenComplete}">
                    <h2 style="display: inline-block;">P/E Ratio</h2>
                    <span ng-click="toggleVisibility()" style="float:right;" ng-show="!model.visibility">&nbsp;&#9660;</span>
                    <span ng-click="toggleVisibility()" style="float:right;" ng-show="model.visibility">&nbsp;&#9650;</span>

                    <h2 class="value">{{model.data.crowdsourced_actual}}</h2>
                </div>

                <div class="item details" slide="model.visibility" open="isOpenComplete">
                    <ion-slide-box show-pager="false" delegate-handle="peScroller">
                        <ion-slide>
                            <div class="graph-title">
                                <span>P/E History</span>
                                <div graph="dummy.dummy_graph_opts" model="dummy.dummy_graph"></div>
                            </div>
                        </ion-slide>
                        <ion-slide ng-class="{'estimate-only-tab' : !model.gaveEstimate}">
                            <div ng-show="model.gaveEstimate">
                                <div class="graph-title">
                                    <span>Realtime Community P/E</span>

                                    <div graph="median_graph_opts" model="median_graph_data"></div>

                                </div>
                            </div>
                            <div ng-show="!model.gaveEstimate">
                                <h2 class="normal tac">Please give your estimate to view what the community says!</h2>
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>
            </div>
            <div estimate-btn onsub="onsub" txt="Give Estimate (Now)"></div>
        </div>

        <div ng-controller="DummyCtrl">
            <div class="list head">
                <div class="item rounded toggle-btn" ng-class="{'open' : model.isOpenComplete, 'closed' : !model.isOpenComplete}">
                    <h2 style="display: inline-block;">Stock Price</h2>
                    <span ng-click="toggleVisibility()" style="float:right;" ng-show="!model.visibility">&nbsp;&#9660;</span>
                    <span ng-click="toggleVisibility()" style="float:right;" ng-show="model.visibility">&nbsp;&#9650;</span>

                    <h2 class="value">$82.29</h2>
                </div>
            </div>
            <div estimate-btn onsub="onsub" txt="Give Estimate (Now)"></div>
        </div>
    </ion-content>
</ion-view>

